/*  
black: #010101
white pointer: #fefcff
purple heart: #5d20d3
silver chalice: #9e9e9e
meteorite: #321b6c
mauve: #c9a2ff
aquamarine blue: #71e1e1
orange peel: #f59f01
calypso: #377a94
berick red: #c82a33
*/

.header {
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
  }
  
  .logo {
    font-size: 2rem;
    color: #fefcff;
    font-weight: bold;
  }
  
  .header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: baseline;
  }
  
  .header li {
    margin-left: 3rem;
  }
  
  .header a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #fefcff
  }
  
  .header a:hover,
  .header a:active,
  .header a.active {
    color: #9e9e9e;
  }
  
  .badge {
    background-color: #71e1e1;
    color: #321b6c;
    border-radius: 12px;
    padding: 0 1rem;
    margin-left: 0.5rem;
  }

  .navItem {
    text-decoration: none;
  }
