.main {
  margin: 3rem auto;
  width: 90%;
  max-width: 40rem;
  padding-bottom: 5rem;
}

.text {
    text-decoration: none;
    font-size: 1.25rem;
    color: #fefcff;
    padding-bottom: 1.25rem;
  }

  .text a {
    text-decoration: none;
    font-size: 1.25rem;
    color: #fefcff;
    text-align: center;
  }

  .text a:hover,
  .text a:active,
  .footextter a.active {
    color: #9e9e9e;
  }

  .image {
    width: 10%;
    height: 1rem;
    overflow: hidden;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
  }
  
  .image img {
    width: 10%;
    object-fit: cover;
  }